*{
margin: 0;
padding: 0;
text-decoration: none;
outline: none;
color: white;
font-family:sans-serif;

}
header{
display: flex;
justify-content:space-between;
align-items:center;
padding:30px 10%;
}
button{
background-color:transparent;
padding: 10px 30px;
border-radius: 15px;
border:1px solid white;
}
.nav_links li{
display:inline-block;
padding:0 30px;
}
.nav_links li a{
list-style: none;
}
.nav_links li a{
transition:all 0.3s ease 0s;
}
.nav_links li a:hover {
color: blue;
}
body{
background-image: url("bg.png");
background-repeat:no-repeat;
background-attachment: fixed;
background-position: center;
background-size: cover;
}
